.app-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    flex: 1;
    background: rgb(11, 118, 186);
    background: linear-gradient(180deg,#286a8d 0,#155475 100%);
    margin: 0;

    @media (max-width: 480px) {
        width: 100%;
        height: 100vh;
        overflow-y: auto;
    }
}
