@import "../../variables";

.form-title {
  color: $text-color;
  margin: -70px 0 51px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 600px;
  height: 80vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 0.88;
}

.signature-pad {
  border: #828282 1px solid;
  width: 400px;
  height: 200px;
}
