@import "../../variables";

.panda-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-title {
    color: $text-color;
    font-weight: 600;

    p {
        font-size:33px;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 600px;
    height: 80vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    opacity: 0.88;

    li {
        margin: 5px 0 5px 0;
    }
    .sign-pad {
        display: flex;
        justify-content: center;
    }

    .inputs {
        display: flex;

        .field-full-width {
            margin: 10px 15px 10px 15px;
        }
    }

    .sign-buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .sign-button {
            width: 170px;
            height: 50px;
            font-weight: 600;

            &.active {
                color: $white;
                background-color: $item-color;
            }
        }
    }
}

.signature-pad {
    border: #828282 1px solid;
    width: 400px;
    height: 200px;
}
