// Theme colors
$black-color: #000;
$dark-blue-color: #03305c;
$blue-color: #103853;
$text-color: #4f4f4f;
$description-color: #828282;
$placeholder-color: #d0d0d0;
$page-color: #ededed;
$link-color: #2d9cdb;
$item-color: #286a8d;
$danger-color: #eb5757;
$positive-color: #87c656;
$online-color: #30f000;
$checkbox-color: #ff5722;
$background-even: #f5f5f5;
$white: #ffffff;
